<%-include('navbar.ejs') %>

<style>
    .subname h3
    {
        /* background-image: linear-gradient(90deg,red 0%,yellow 50%, orange 10%); */


        background-color: #FFFFFF;
        background-image: -webkit-linear-gradient(92deg, #FFFFFF 0%, #6284FF 33%, #FF0000 97%);
        background-image: -moz-linear-gradient(92deg, #FFFFFF 0%, #6284FF 33%, #FF0000 97%);
        background-image: -o-linear-gradient(92deg, #FFFFFF 0%, #6284FF 33%, #FF0000 97%);
        background-image: linear-gradient(92deg, #FFFFFF 0%, #6284FF 33%, #FF0000 97%);




        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 32px;
    }
    .aaa
    {
        text-decoration: none;
        margin-left: 5px;
    }
    .aaa button 
    {
        border-radius: 5px;
    }
</style>


<form action="/admin/update_product_category" method="post">
    <input type="hidden" name="product_category_id"  value="<%=edited_product[0].product_category_id%>">
<div class="container-fluid bg-white p-4 shadow">

    <div class="row">
        <div class="col-md-12 subname ">

            <h3>Edit Product Category</h3>

        </div>

        <div class="col-md-4  ">
            Category Name: <input type="text" name="product_category_name" class="form-control" 
            value="<%=edited_product[0].product_category_name%>"
            >
        </div>
        <div class="col-md-7 ">
            Category Details: <input type="text" name="product_category_details"  class="form-control"
            value="<%=edited_product[0].product_category_details%>"
            >
        </div>
        <div class="col-md-1  "><br>
            <button class="btn btn-outline-dark">Save</button>
        </div>
    </div>
</div>
</form>
<%-include("footer.ejs")%>