<%-include('navbar.ejs')%>
<br><br>


<div class="container">
    <div class="row">
        <div class="col-md-12 subname text-center">
            <h3 >
                    My Orders
            </h3>
        </div>
    </div>
    <table class="table table-bordered table-striped w-100">
        <tr style="text-align: center;">
            <th>Sr.No</th>
            <th>Shipping Date</th>
            <th>Product Image</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Product Price</th>
            <th>Payment </th>
            <th>Payment Type</th>
        </tr>
  




    <% for(var i=0;i<orders.length;i++)     {      %>

        <tr>
            <td style="font-size: 20px; text-align: center;"><%=orders[i].order_id%></td>
            <td style="font-size: 20px; text-align: center;"><%=orders[i].order_date.split("-").reverse().join("-")%></td>
            <td style=" text-align: center;">
                    <img src="/uploads/<%=orders[i].product_image1%>" alt="" width="100px" height="100px" >
            </td>
            <td style="font-size: 20px; text-align: center;"><%=orders[i].product_name%></td>
            <td style="font-size: 20px; text-align: center;"><%=orders[i].qty%>qty</td>
            <td style="font-size: 20px; text-align: center;"><b>₹</b><%=orders[i].order_price%></td>
            <td style="font-size: 20px; text-align: center;"><b>₹</b><%=orders[i].payment_type%></td>
            <td style="font-size: 20px; text-align: center; color:<%=(orders[i].payment_status=='success') ?
             'green':'red' %>;"><%=(orders[i].payment_status=='success')?
     'Payment Paid':' Payment Pending' %></td>


        </tr>
        <div class="row">

           

        </div>


    <%   }  %>    

</table>

</div>









<br><br>
<%-include('footer.ejs')%>